<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Name">
    <br/>
    <label for="password">Username</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <input type="submit" value="Update User">
</form>

<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>