<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>

<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="username">Enter Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create"/>

</form>

<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>