<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>List of Users</h1>
<a href="/new">Create New User</a>
<br/><br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
    </tr>

    <tr th:each="user, state : ${allUsers}">
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getUsername()}">Name</td>
        <td th:utext="${user.getRoles()}">Role</td>
        <td><a th:href="@{edit/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>


</table>

<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>